body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-2);
}

body,
h1,
h2,
nav,
p,
ul,
li,
a{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }