.introducao-bg{
    background-color: var(--cor-11);
    box-shadow: inset 0px -80px var(--cor-2);
}

.introducao{
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.introducao-conteudo{
    align-self: start;
}

.introducao h1{
    margin-bottom: 140px;
}

.introducao img{
    width: 100%;
    height: 100%;
    /* object-fit: 4px; */
    border-radius: 4px;
}